<main>
  <div class="row d-flex justify-content-center g-0 fondo-contraste">
    <div class="col-12 text-center">
      <h2 class="titulo subrayado">¿Puedo donar?</h2>
      <div class="texto">
        <p class="mb-2">¿Desea donar sangre pero no está seguro de si es apto?</p>
        <p>En está página encontrará información sobre qué deberá tener en cuenta tanto antes como después de
          la donación. Además, podrá realizar un test para saber si es o no apto para donar sangre.</p>
      </div>
    </div>
  </div>
  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z"></path>
  </svg>

  <div class="info">
    <div class="row mt-4 g-0">
      <div class="col-12 col-md-6 text-center pe-0 pe-sm-3 pe-lg-5">
        <h3 class="titulo">Antes de donar</h3>

        <table class="table table-bordered table-responsive mt-3">
          <thead>
            <tr>
              <th colspan="2">Ayúdenos a conseguir una transfusión segura y no done si:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td colspan="2" class="cabecera">En el último año, usted o su pareja han tenido relaciones sexuales con:
              </td>
            </tr>
            <tr scope="row">
              <td>Personas que se dedican a la prostitución.</td>
              <td>Múltiples parejas.</td>
            </tr>
            <tr>
              <td>Una persona distinta de su pareja y sin usar preservativos.</td>
              <td>Una persona que sepa que ha sido tratada con factores de coagulación.</td>
            </tr>
            <tr>
              <td>Una persona que sepa usted que tiene SIDA.</td>
              <td>Una persona que se haya inyectado droga.</td>
            </tr>
            <tr class="separador">
              <td></td>
            </tr>
            <tr>
              <td colspan="2" class="cabecera">Si usted o su pareja:</td>
            </tr>
            <tr>
              <td>Es enfermo de SIDA.</td>
              <td>Es enfermo de Hepatitis B-C.</td>
            </tr>
            <tr>
              <td>Ha ejercido la prostitución.</td>
              <td>Se ha inyectado droga alguna vez.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 col-md-6 text-center ps-0 ps-sm-3 ps-lg-5">
        <h3 class="titulo">Después de donar</h3>
        <table class="table table-bordered table-responsive mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Deberá tener en cuenta los siguientes puntos:</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">
              <th>1</th>
              <td>No fume, conduzca, ni tome el sol en media hora.</td>
            </tr>
            <tr scope="row">
              <th>2</th>
              <td>No tome alcohol antes de que transcurran dos horas.</td>
            </tr>
            <tr scope="row">
              <th>3</th>
              <td>Beba abundante líquido el resto del día.</td>
            </tr>
            <tr scope="row">
              <th>4</th>
              <td>No haga deporte de mucho esfuerzo durante cuatro horas.</td>
            </tr>
            <tr scope="row">
              <th>5</th>
              <td>No acuda a la sauna ni se bañe en la bañera hasta que transcurran cuatro horas.</td>
            </tr>
            <tr scope="row">
              <th>6</th>
              <td>Si se siente débil o mareado, tumbese o siéntese con la cabeza entre las rodillas.</td>
            </tr>
            <tr scope="row">
              <th>7</th>
              <td>Si persiste su malestar, póngase en contacto con el personal de la Hermandad de Donantes de Sangre o
                su
                centro de salud más próximo</td>
            </tr>
            <tr scope="row">
              <th>8</th>
              <td>Si sangra por el lugar del pinchazo, levante el brazo y presione sobre él.</td>
            </tr>
            <tr scope="row">
              <th>9</th>
              <td>Retire el aposito después de unas horas</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w-100 text-center texto">
      <p class="mb-3">Si ya ha repasado la información anterior, haga click en el botón para comenzar el test.</p>
      <a href="test-apto"><button class="btn-secundario">Empezar test</button></a>
    </div>

  </div>
</main>
