main {
  padding: 5rem 5rem 10rem;
  background-color: var(--color-contraste);

  h2 {
    text-align: center;
  }

  .contenedor {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--bs-white);
    border-radius: 2px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, .2);

    .menu-horizontal {
      border-right: 1.5px solid var(--color-contraste-oscuro);

      li {
        padding: 1rem 1.5rem;
        width: 100%;
        border-left: 10px solid var(--bs-white);

        &.activo {
          background-color: var(--color-primario);
          color: var(--bs-white);
          border-color: var(--color-granate);
        }

        i {
          margin-right: .5rem;
        }
      }
    }

    .config {
      padding: 1rem 3rem;
    }
  }
}
