<main>
  <div class="container gx-0">

    <div>
      <div class="f-contraste text-center">
        <h1 class="titulo subrayado">Estadísticas</h1>
      </div>

      <!--  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
        <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1" d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z">
        </path>
      </svg> -->
    </div>

    <div class="contenido">

      <div class="resumen">
        <h2 class="titulo">Resumen</h2>
        <p>Todas las estadísticas de todos los tiempos.</p>

        <div></div>
      </div>

      <div class="tiempo mt-5">
        <h2 class="titulo">Número de donaciones</h2>

        <div class="row gx-0 contenedor">
          <div class="menu-horizontal col-3 accordion">

            <div class="accordion-item">
              <div class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#rangoTiempo"
                aria-expanded="true"
                aria-controls="rangoTiempo">
                Rango de tiempo
              </div>

              <div id="rangoTiempo" class="accordion-collapse collapse show">
                <div (click)="cambiarMensuales()">
                  <input type="radio" id="mensuales" name="tiempo" value="mensuales">
                  <label for="mensuales" class="me-3">Mensuales</label>

                  <select id="anios">
                    <option *ngFor="let anio of anios; let last = last"
                    value="anio"
                    [selected]="last">
                    {{ anio }}</option>
                  </select>
                </div>

                <div (click)="cambiarAnuales()">
                  <input type="radio" id="anuales" name="tiempo" value="anuales">
                  <label for="anuales">Anuales</label>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#tipoDonacion"
                aria-expanded="true"
                aria-controls="tipoDonacion">
                Tipo de donación
              </div>

              <div id="tipoDonacion" class="accordion-collapse collapse show">
                <ng-container *ngFor="let donacion of tiposDonacion">
                  <input (change)="cambiarDonacion($event)"
                    type="checkbox"
                    id="donacion"
                    name="donacion"
                    value="donacion">
                  <label for="donacion">{{ donacion | titlecase }}</label><br>
                </ng-container>
                <!-- <input (change)="cambiarDonacion($event)" type="checkbox" id="sangre" name="sangre" value="sangre">
                <label for="sangre">Sangre</label><br>

                <input (change)="cambiarDonacion($event)" type="checkbox" id="plasma" name="plasma" value="plasma">
                <label for="plasma">Plasma</label><br>

                <input (change)="cambiarDonacion($event)" type="checkbox" id="medula" name="medula" value="medula">
                <label for="medula">Médula</label><br> -->
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#grupoSan"
                aria-expanded="true"
                aria-controls="grupoSan">
                Grupo sanguíneo
              </div>

              <div id="grupoSan" class="accordion-collapse collapse show">
                <ng-container *ngFor="let grupo of gruposSang">
                  <input type="checkbox" id="grupo" name="grupo" value="grupo">
                  <label for="grupo">{{ grupo }}</label><br>
                </ng-container>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#genero"
                aria-expanded="true"
                aria-controls="genero">
                Género
              </div>

              <div id="genero" class="accordion-collapse collapse show">
                <ng-container *ngFor="let genero of generos">
                  <input type="checkbox"
                    id="genero"
                    name="genero"
                    value="genero">
                  <label for="genero">{{ genero | titlecase }}</label><br>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="grafico col-9">
            <canvas id="grafico">{{grafico}}</canvas>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
