.fondoCard{
  background-color: var(--color-contraste);
}
.scroll{
  overflow-y: scroll;
}
.chatContainer{
height: 50rem;
background-image:linear-gradient(to right, var(--color-primario),var(--color-granate),var(--color-primario)); ;

}


