.fondoCard{
  background-color: var(--color-contraste);
}
.scroll{
  overflow-y: scroll;
}
.chatContainer{
height: 50rem;
border-radius: 10px;
}
.borderRojo{
 border-bottom-color:var(--color-granate) ;
}
.letraColor{
color:var(--color-secundario);
}
span.errorSpan {
  color: var(--color-primario);
}

