<div class="row">
  <div class="col-12 col-md-12">
    <p>{{pregunta.enunciado}}</p>
    <img class="img-fluid w-25" src="../../assets/imagenes/apto_sangre/{{pregunta.nombre_img}}.png">

  </div>
  <div class="row">
    <div class="col-12">
      <input #{{pregunta.nombre_img}}_si type="radio" name="{{pregunta.nombre_img}}" (change)="onItemChange($event)" class="ms-3" value="Si" ng-value="true">
      <label for="{{pregunta.nombre_img}}_si">Si</label>
      <input #{{pregunta.nombre_img}}_no type="radio" name="{{pregunta.nombre_img}}" (change)="onItemChange($event)" class="ms-3" value="No" ng-value="true">
      <label for="{{pregunta.nombre_img}}_no">No</label>
    </div>
  </div>
</div>
