//Todo Isa

.modalTitulo {
  color: var(--color-secundario);
  font-family: var(--tipo-textos);
}


.bordeColor {
  border-bottom: 1px solid var(--color-secundario);
}

.bordeArriba {
  border-top: 1px solid var(--color-secundario);
}

.botonAdd,
.botonCerrar {
  position: relative;
  padding: 9px 30px;
  margin: 5px 0;
  color: var(--color-secundario);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

.botonAdd::before,
.botonCerrar::before {
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  border-top: 2px solid var(--color-secundario);
  border-left: 2px solid var(--color-secundario);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.botonAdd::after,
.botonCerrar::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--color-secundario);
  border-right: 2px solid var(--color-secundario);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.botonAdd:hover::before,
.botonAdd:hover::after,
.botonCerrar:hover::before,
.botonCerrar:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.botonAdd:hover,
.botonCerrar:hover {
  background: var(--color-secundario);
  color: var(--bs-white);
  box-shadow: 0 0 20px var(--color-granate-oscuro);
  transition-delay: 0.5s;
}

.custom-btn {
  width: 200px;
  height: 40px;
  color: var(--bs-white);
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-1 {
  width: 175px;
  height: 40px;
  line-height: 47px;
  padding: 0;
  border: none;
  background: var(--color-secundario);

  &:hover {
    color: var(--color-granate);
    background: transparent;
    box-shadow: none;
  }
}

.btn-1:before,
.btn-1:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(320deg, var(--color-granate-oscuro) 0%, var(--color-secundario) 70%, var(--color-primario) 30%);
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-1:after {
  right: inherit;
  top: 40px;
  left: 0;
  bottom: 0;
}

.btn-1:hover:before,
.btn-1:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

