<main>
  <div class="text-center container gx-0">

    <div>
      <div class="f-contraste">
        <h1 class="titulo subrayado">Memorias</h1>
      </div>

      <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
        <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
          d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z">
        </path>
      </svg>
    </div>

    <div class="memorias">

      <ng-container *ngFor="let memoria of listaMemorias">

        <div class="memoria d-flex flex-column align-items-center">
          <div class="d-flex mt-5 align-content-center justify-content-between">
            <h2 class="titulo">Memoria {{ memoria.anio }}</h2>
            <i class="fa-solid fa-file-arrow-down"></i>
          </div>

          <img src="../../../assets/imagenes/memorias/{{ memoria.imagen }}.jpg">
        </div>

      </ng-container>

    </div>
  </div>
</main>
