<h2 class="titulo">Registrar donaciones</h2>

<form>

  <label>Tipo de donación</label>
  <select>
    <option>Sangre</option>
    <option>Plasma</option>
    <option>Médula</option>
    <option>Órganos</option>
  </select>

  <label>Grupo sanguíneo</label>
  <select>
    <option>A+</option>
    <option>A-</option>
    <option>B+</option>
    <option>B-</option>
  </select>

  <label>Fecha</label>
  <app-date-picker></app-date-picker>

  <label>Número de donante</label>
  <input type="text">

  <label>Género</label>
  <select>
    <option>Hombre</option>
    <option>Mujer</option>
  </select>

  <button type="submit" class="btn-primario">Registrar donación</button>

</form>
