<div class="botones mensajes d-flex justify-content-between">
  <div [ngClass]="actualizado ? 'mensaje-ok' : 'mensaje-error'" class="d-flex align-items-center">

    <i [ngClass]="actualizado ? 'fa-circle-check' : 'fa-triangle-exclamation'" class="fa-solid icono-peq me-2"
      *ngIf="mensaje">
    </i>

    <div>{{ mensaje }}</div>
  </div>

  <button (click)="guardar()" class="btn-primario" type="submit">Guardar</button>
</div>


<div class="horarios">
  <h3 class="titulo mb-4">Horario</h3>

  <div class="horario align-items-center d-flex flex-column flex-xl-row">
    <div class="dias d-flex flex-column flex-xl-row">
      <p class="text-center f-rojo">Días</p>

      <div class="d-flex justify-content-center">
        <div class="select d-flex">
          <select name="primerDia">
            <option value="{{ h.dia }}" *ngFor="let h of horarios">
              {{ h.dia }}
            </option>
          </select>
        </div>

        <p class="align-self-center ps-3 pe-3">a</p>

        <div class="select d-flex">
          <select name="ultimoDia">
            <option value="{{ h.dia }}" *ngFor="let h of horarios">
              {{ h.dia }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="horas d-flex flex-column flex-xl-row">
      <p class="text-center f-rojo">Horas</p>

      <div class="d-flex justify-content-center">
        <div class="select d-flex">
          <select name="horasEntrada">
            <option value="{{ h.horaEntrada }}" *ngFor="let h of horarios">
              {{ h.horaEntrada }}
            </option>
          </select>
        </div>

        <p class="align-self-center ps-3 pe-3">a</p>

        <div class="select d-flex">
          <select name="horasSalida">
            <option value="{{ h.horaSalida }}" *ngFor="let h of horarios">
              {{ h.horaSalida }}
            </option>
          </select>
        </div>
      </div>
    </div>

     <i class="fa-solid fa-trash ms-auto me-2"></i>
  </div>

  <div class="horario align-items-center d-flex flex-column flex-xl-row">
    <div class="dias d-flex flex-column flex-xl-row">
      <p class="text-center f-rojo">Días</p>

      <div class="d-flex justify-content-center">
        <div class="select d-flex">
          <select name="primerDia">
            <option value="{{ h.dia }}" *ngFor="let h of horarios">
              {{ h.dia }}
            </option>
          </select>
        </div>

        <p class="align-self-center ps-3 pe-3">a</p>

        <div class="select d-flex">
          <select name="ultimoDia">
            <option value="{{ h.dia }}" *ngFor="let h of horarios">
              {{ h.dia }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="horas d-flex flex-column flex-xl-row">
      <p class="text-center f-rojo">Horas</p>

      <div class="d-flex justify-content-center">
        <div class="select d-flex">
          <select name="horasEntrada">
            <option value="{{ h.horaEntrada }}" *ngFor="let h of horarios">
              {{ h.horaEntrada }}
            </option>
          </select>
        </div>

        <p class="align-self-center ps-3 pe-3">a</p>

        <div class="select d-flex">
          <select name="horasSalida">
            <option value="{{ h.horaSalida }}" *ngFor="let h of horarios">
              {{ h.horaSalida }}
            </option>
          </select>
        </div>
      </div>
    </div>

     <i class="fa-solid fa-trash ms-auto me-2"></i>
  </div>

  <button type="submit" (click)="addHorario()" class="btn-primario">
    Añadir otro
  </button>
</div>


<div class="telefonos">
  <h3 class="titulo mb-4">Teléfonos</h3>

    <div class="telefono d-flex flex-column flex-md-row align-items-center"
      *ngFor="let t of telefonos">

      <div class="f-rojo">Número</div>
      <input type="text"
        class="inpt numero"
        [(ngModel)]="t.numero">

      <div class="f-rojo">Extensión</div>
      <input type="text"
        class="inpt extension"
        [(ngModel)]="t.extension">

      <i class="fa-solid fa-trash ms-2 me-2"></i>
    </div>

  <button type="submit" (click)="addTelefono()" class="btn-primario">
    Añadir otro
  </button>
</div>


<div class="direcciones">
  <h3 class="titulo mb-4">Dirección</h3>

  <div class="direccion" *ngFor="let d of direcciones">

    <div class="row gx-0" *ngFor="let elemento of d | keyvalue">

      <div class="nombre col-12 col-xl-4 f-rojo">{{ elemento.key | titlecase }}</div>

      <input type="text" class="valor align-middle col-12 col-xl-8 inpt" value="{{ elemento.value }}">

    </div>
</div>
