<main class="text-center">

  <div class="container">
    <div class="row pt-5 lh-lg fondo-contraste">
      <div class="horario col-12 col-sm-6">
        <i class="fa-solid fa-clock"></i>
        <h2 class="titulo">Nuestro horario</h2>
        <p>Lunes a Viernes</p>
        <p>de 9:15 a 13:30</p>
      </div>

      <div class="cita col-12 col-sm-6 mt-5 mt-sm-0">
        <i class="fa-solid fa-calendar-day"></i>
        <h2 class="titulo">Cita previa</h2>
        <p>Pide cita llamando a uno de nuestros teléfonos</p>
        <div class="telefonos text-center">
          <div class="telefono d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-phone me-2 fs-6"></i>
            <p class="fw-bold">926 43 16 16</p>
          </div>
          <div class="telefono d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-phone me-2 fs-6"></i>
            <p class="fw-bold">926 42 11 00 ext. 70480</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z"></path>
  </svg>
  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#f7f3f9" fill-opacity="1" d="M0,0L480,128L960,192L1440,128L1440,0L960,0L480,0L0,0Z"></path></svg>
 --><!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#f7f3f9" fill-opacity="1" d="M0,32L480,128L960,32L1440,32L1440,0L960,0L480,0L0,0Z"></path></svg>
 --><!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f7f3f9" fill-opacity="1" d="M0,192L480,160L960,192L1440,160L1440,0L960,0L480,0L0,0Z"></path></svg>
 --><!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f7f3f9" fill-opacity="1" d="M0,0L480,128L960,160L1440,0L1440,0L960,0L480,0L0,0Z"></path></svg>
 --><!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f7f3f9" fill-opacity="1" d="M0,128L480,96L960,192L1440,160L1440,0L960,0L480,0L0,0Z"></path></svg>
 --><!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f7f3f9" fill-opacity="1" d="M0,128L480,96L960,128L1440,160L1440,0L960,0L480,0L0,0Z"></path></svg>
 --><!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f7f3f9" fill-opacity="1" d="M0,224L480,160L960,256L1440,32L1440,0L960,0L480,0L0,0Z"></path></svg>
 --><!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#f7f3f9" fill-opacity="1" d="M0,160L480,288L960,256L1440,192L1440,0L960,0L480,0L0,0Z"></path>
</svg> -->

  <div class="lh-lg">
    <i class="fa-solid fa-map-location"></i>
    <h2 class="titulo ">Dónde donar sangre</h2>
    <p class="fw-bold">Hospital de Santa Bárbara</p>
    <p>Calle Malagón, s/n</p>
    <p>Puertollano, 13500</p>
    <p>Ciudad Real</p>
    <div class="clearfix mt-3 mb-5">
      <iframe class="mapa mt-2 float-end" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.5121881259743!2d-4.1130816848705125!3d38.70604816580596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6b8cfe481ce835%3A0x9e6aa2834a5e7143!2sHermandad%20de%20Donantes%20de%20Sangre!5e0!3m2!1ses!2ses!4v1674681982925!5m2!1ses!2ses">
      </iframe>
    </div>
  </div>

  <!-- <div class="lh-lg cita">
    <i class="fa-solid fa-calendar-day"></i>
    <h2 class="titulo">Cita previa</h2>
    <p>Pide cita llamando a uno de nuestros teléfonos</p>
    <div class="telefonos text-center">
      <div class="telefono d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-phone me-2 fs-6"></i>
        <p class="fw-bold">926 43 16 16</p>
      </div>
      <div class="telefono d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-phone me-2 fs-6"></i>
        <p class="fw-bold">926 42 11 00 ext. 70480</p>
      </div>
    </div>
  </div> -->
</main>
