            <form (ngSubmit)="registro()">
                
                <div class="mb-3">
                    <label class="form-label" for="nombre">Nombre</label><br>
                    <input 
                        type="text" 
                        class="form-control"
                        name="nombre"
                        placeholder="Introduce tu nombre"
                        [(ngModel)]="this.nombreCompleto.nombre" 
                    >
                </div>

                <div class="mt-4 mb-3">
                    <label class="form-label" for="ape1">Primer apellido</label><br>
                    <input 
                        type="text" 
                        class="form-control"
                        name="ape1"
                        placeholder="Introduce tu primer apellido"
                        [(ngModel)]="this.nombreCompleto.ap1"
                    >
                </div>
            
                <div class="mt-4 mb-3">
                    <label class="form-label" for="ape2">Segundo apellido</label><br>
                    <input 
                        type="text" 
                        class="form-control"
                        name="ape2"
                        placeholder="Introduce tu segundo apellido"
                        [(ngModel)]="this.nombreCompleto.ap2"
                    >
                </div>

                <div class="mt-4 mb-3">
                    <label class="form-label" for="email">Email</label><br>
                    <input 
                        type="text" 
                        class="form-control"
                        name="email"
                        placeholder="Introduce tu email"
                        [(ngModel)]="this.nuevoUsrReg.email"
                    >
                </div>
            
                <div *ngIf="this.contraErronea" class="form-text errorLogin mt-4 mb-3">
                    Las dos contraseñas deben coincidir.   
                </div>
                <div class="passwd mt-3 mb-3">
                    <label class="form-label" for="passwd">Constraseña</label><br>
                    <input 
                        type="password"
                        class="form-control"
                        name="passwd"
                        placeholder="Introduce tu contraseña"
                        [(ngModel)]="this.nuevoUsrReg.passwd"
                    >
                </div>

                <div class="passwd mt-4 mb-5">
                    <label class="form-label" for="passwdRep">Repite la constraseña</label><br>
                    <input 
                        type="password"
                        class="form-control"
                        name="passwdRep"
                        placeholder="Repite tu contraseña"
                        [(ngModel)]="this.contraRep"
                    >
                </div>
            
                
                <div class="botonesLogin mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn w-100 btnAceptar">Aceptar</button>
                </div> 
                
            </form>

