/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: titulos;
  src: url('./assets/tipografias/BebasNeue-Regular.ttf') format("woff2");
}

@font-face {
  font-family: texto;
  src: url('./assets/tipografias/Montserrat-VariableFont_wght.ttf') format("woff2");
  font-weight: light;
}

:root {
  /* --color-primario: rgb(50, 19, 99); */
  --color-primario: rgb(174, 17, 40);
  --color-secundario: rgb(133, 10, 33);
  --color-granate: rgb(101, 4, 35);
  --color-granate-oscuro: rgb(41, 11, 37);
  --color-contraste: rgb(241, 238, 245);
  --color-contraste-oscuro: rgb(201, 197, 207);
  --tipo-textos: texto;
  --tipo-titulos: titulos;
  --letra-pequena: .85rem;
  --letra-media: 1.1rem;
  --letra-grande: 1.3rem;
}


body {
  font-family: var(--tipo-textos);
  color: var(--color-granate-oscuro);
  box-sizing: border-box;
  min-height: 100vh;

  * {
    padding: 0;
    margin: 0;
  }

  a {
    cursor: pointer;
  }

  ul {
    list-style: none;
  }

  footer,
  header {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

    a,
    i,
    .mensaje-error {
      color: var(--bs-white);
    }

    a:hover,
    i:hover {
      color: var(--color-granate);
    }
  }

  // Botones - inputs
  input[type=email],
  button {
    border: none;
    outline: none;
    border-radius: 2px;
    height: 35px;
    font-size: var(--letra-pequena);

    &[type=email] {
      padding: 0 .5rem;
    }

    &.btn-primario {
      background-color: var(--color-granate);
      color: var(--bs-white);

      &:hover,
      &:active {
        background-color: var(--color-granate-oscuro);
      }
    }
  }

  .fijo {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .enlace {
    padding: .5rem 0 !important;
    text-decoration: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: var(--bs-white);
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
    }

    &:hover {
      color: var(--bs-white);

      &::before {
        transform: scaleX(1);
      }
    }
  }

  .titulo {
    font-family: var(--tipo-titulos);
    letter-spacing: 2px;

    &.subrayado::after {
      content: "";
      display: block;
      width: 6rem;
      max-width: 60%;
      border-bottom: 0.3rem solid var(--color-primario);
      margin: 0 auto 1rem;
    }
  }

  .fondo-contraste {
    background-color: var(--color-contraste);
  }

  .mensaje-error, .mensaje-ok {
    margin: 0;
    padding: 0;
    font-size: var(--letra-pequena);
  }

  .mensaje-error {
    color: var(--color-primario);
  }

  .mensaje-ok {
    color: var(--color-granate);
  }

  .error-input {
    border: 1px solid var(--color-secundario);
    background-color: rgb(255, 220, 231);
  }

  .contenedor-historia {

    p,
    div:not(:first-of-type) {
      padding-top: 1.5rem !important;
      text-align: unset;
    }
  }
}
