@use "sass:map";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


@font-face {
  font-family: titulos;
  src: url('./assets/tipografias/BebasNeue-Regular.ttf') format("woff2");
}

@font-face {
  font-family: texto;
  src: url('./assets/tipografias/Montserrat-VariableFont_wght.ttf') format("woff2");
  font-weight: light;
}

:root {
  /* --color-primario: rgb(50, 19, 99); */
  --color-primario: rgb(174, 17, 40);
  --color-secundario: rgb(133, 10, 33);
  --color-granate: rgb(101, 4, 35);
  --color-granate-oscuro: rgb(41, 11, 37);
  --color-contraste: rgb(233, 231, 240);
  --color-contraste-oscuro: rgb(185, 177, 195);
  --tipo-textos: texto;
  --tipo-titulos: titulos;
  --letra-pequena: .85rem;
}


body {
  font-family: var(--tipo-textos);
  box-sizing: border-box;
  min-height: 100vh;

  * {
    padding: 0;
    margin: 0;
  }

  input {
    border: none;
    outline: none;
    border-radius: 2px;
  }

  a,
  i {
    color: var(--bs-white);

    &:hover {
      color: var(--color-granate);
    }
  }

  .enlace {
    padding-bottom: .2rem;
    text-decoration: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--bs-white);
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
    }

    &:hover {
      color: var(--bs-white);

      &::before {
        transform: scaleX(1);
      }
    }
  }
}
