div.container-fluid {
    background-color: var(--color-contraste);
    // min-height: 50vh;
    div.card {
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        width: 40vw;

        @media (max-width: 768px) {
            & {
                width: 100vw;
            }
        }

        
        div.card-header {
            background-color: var(--color-primario);
            color: var(--bs-white);
            height: 6.5rem;

            margin-top: 4.5rem;
            margin-bottom: 1rem;
            border-radius: 2px 2px 0px 0px;

        }

        div.card-body {
            margin-bottom: 2.5rem;
        }
    }
}    

