  <div class="botones mensajes d-flex justify-content-between">
    <div [ngClass]="actualizado ? 'mensaje-ok' : 'mensaje-error'" class="d-flex align-items-center">

      <i [ngClass]="actualizado ? 'fa-circle-check' : 'fa-triangle-exclamation'"
        class="fa-solid icono-peq me-2"
        *ngIf="mensaje">
      </i>

      <div>{{ mensaje }}</div>
    </div>

    <button (click)="guardar()" class="btn-primario" type="submit">Guardar</button>
  </div>


  <div class="historia">
    <h3 class="titulo mb-4">Historia</h3>

    <angular-editor [(ngModel)]="historia" [config]="editorTextoConfig"></angular-editor>
  </div>


  <div class="junta">

    <h3 class="titulo">Junta rectora</h3>

    <p class="info mb-4">Pincha sobre cualquier campo para cambiar su valor. Puedes modificar tanto el cargo como el
      nombre del integrante.</p>

    <div class="contenedor-integrantes">
      <div class="integrante row gx-0" *ngFor="let integrante of junta">

        <select name="cargos"
          class="cargos col-12 col-sm-5 f-rojo"
          [(ngModel)]="integrante.cargo">

          <option value="{{ cargo.nombre }}"
            *ngFor="let cargo of cargos">
            {{ cargo.nombre }}
          </option>
        </select>

        <input type="text"
          class="nombre align-middle col-12 col-sm-7"
          [(ngModel)]="integrante.nombre">
      </div>
    </div>

  </div>
