.historia {
  textarea {
    width: 100%;
    height: 200px;
    outline: none;
    padding: .5rem 1rem;
  }
}

.junta {
  .titulo {
    margin-top: 4rem;
  }

  .info {
    font-size: var(--letra-pequena);
  }

  .contenedor-integrantes {

    .integrante {
      input {
        border: none;
        outline: none;
        padding: .5rem 1rem;
        margin-bottom: 1.5rem;
      }

      .cargo {
        background-color: var(--color-primario);
        color: var(--bs-white);
        width: 40%;
      }

      .nombre {
        border-bottom: 2px solid var(--color-primario);
        width: 60%;
      }
    }
  }
}
