.botones {
  margin-bottom: 1rem;

  .btn-primario {
    padding: 0 1rem;
  }
}

.historia {
  .contenedor-historia {
    outline: none;
    padding: 1rem 1.5rem;
    overflow-y: scroll;
    border: 1px solid var(--color-contraste-oscuro);
  }
}

.junta {
  .titulo {
    margin-top: 4rem;
  }

  .info {
    font-size: var(--letra-pequena);
  }

  .contenedor-integrantes {

    .integrante {

      input,
      .cargos {
        border: none;
        outline: none;
        padding: .5rem 1rem;
        margin-bottom: 1.5rem;
      }

      .cargos {
        background-color: var(--color-primario);
        color: var(--bs-white);
        width: 40%;

        option {
          font-family: arial !important;
        }
      }

      .nombre {
        border-bottom: 2px solid var(--color-primario);
        width: 60%;
      }
    }
  }
}
