.botones {
  margin-bottom: 1rem;
}

.historia {
  .contenedor-historia {
    outline: none;
    padding: 1rem 1.5rem;
    overflow-y: scroll;
    border: 1px solid var(--color-contraste-oscuro);
  }
}

.junta {
  .titulo {
    margin-top: 4rem;
  }

  .info {
    font-size: var(--letra-pequena);
  }

  .contenedor-integrantes {
    .integrante {

      .nombre,
      .cargos {
        border: none;
        outline: none;
        padding: .5rem;
      }

      .cargos {

        option {
          font-family: arial !important;
        }
      }

      .nombre {
        border-bottom: 2px solid var(--color-primario);
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .junta .contenedor-integrantes .integrante {
    .nombre, .cargos {
      margin-bottom: 2rem;
    }
  }
}
