<header>
  <img class="banner" src="../../../assets/imagenes/banner.png">

  <nav class="navbar navbar-expand-lg" appStickyTop>

    <a class="navbar-brand" href="#"><img src="../../../assets/imagenes/logo.png"></a>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
      data-bs-target="#menu-horizontal" aria-controls="menu-horizontal" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fs-2"></i>
    </button>

    <div class="collapse navbar-collapse text-center" id="menu-horizontal">
      <ul class="navbar-nav mb-lg-0">
       <!--  <li class="nav-item dropdown ms-lg-3 me-lg-5">
          <a class="nav-link enlace dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Información
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item enlace" href="#">Donación de sangre</a></li>
            <li><a class="dropdown-item enlace" href="#">Donación de plasma</a></li>
            <li><a class="dropdown-item enlace" href="#">Donación de médula</a></li>
          </ul>
        </li> -->

        <li class="nav-item me-lg-5">
          <a class="nav-link enlace" href="aviso">¿Puedo donar?</a>
        </li>

        <li class="nav-item me-lg-5">
          <a class="nav-link enlace" href="./noticias">Noticias</a>
        </li>

        <!-- <li class="nav-item me-lg-5">
          <a class="nav-link enlace" href="#">Galería</a>
        </li>

        <li class="nav-item me-lg-5">
          <a class="nav-link enlace" href="#">Pedir cita</a>
        </li>

        <li class="nav-item">
          <a class="nav-link enlace" href="#">Contacto</a>
        </li> -->

        <li class="nav-item me-lg-5">
          <a class="nav-link enlace" href="./configuracion/hermandad">Contenidos</a>
        </li>

        <li class="nav-item me-lg-5">
          <a class="nav-link enlace" href="./auth/login/">Iniciar sesión</a>
        </li>
      </ul>
    </div>

    <!-- <div class="usuario-contenedor">
      <a href="../../auth/login/login.component.html"><i class="fa-solid fa-user-large fs-4 usuario"></i></a>
    </div> -->

  </nav>
</header>
